<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="Form Who &lt;Your@Email.com&gt;">
				<network host="Your SMTP host" port="587" userName="Your UserName" password="Your Password" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>-->
  <!--For MySQL database-->
  <appSettings>
    <add key="Server" value="Your server address" />
    <add key="DatabaseName" value="Your database name" />
    <add key="UserName" value="Your UserName" />
    <add key="Password" value="Your Password" />
    <add key="TestRandom" value="yes" /> <!--try out with No Database Connection, set this to yes-->
    <add key="ActivateEmail" value="no" /> <!--set smtp up first and then set this to yes-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>